@media (min-width:768px) {
    .more1:hover .moreimg img{
        scale:1.05
    }
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
}
